{% extends 'base.html' %}

{% block title %}HighFive &ndash; About{% endblock %}

{% block toparea %}
  	<div id="top">
			<span id="hi5" class="hi5title">
				<a href="http://www.acompa.net/highfive" class="hi5link">HighFive</a>
			</span>
			<span id="login">
				<a href="http://acompa.net/highfive/login/" id="logout">Log in with Twitter.</a>
				</span>
			<br><br>
		</div>
{% endblock %}

{% block body %}
	<div id="link-section">
		<h1>About</h1>
		<p>HighFive was developed by <a href="http://acompa.net" class="plink">Alejandro Companioni</a> during early 2011 using <a href="http://www.djangoproject.com" class="plink">Django</a> and <a href="http://www.python.org" class="plink">Python,</a> as well as the Twitter and <a href="http://bit.ly/apidocs" class="plink">bit.ly</a> APIs.</p>
		<p><a href="http://redtenscreative.com" class="plink">Redy Companioni</a> is responsible for the better parts of the HighFive's design. He is also responsible for having a <a href="http://www.facebook.com/redtens" class="plink">righteous beard</a> that the HighFive team is jealous of.</p>
		<p>	Thanks to Regi Valencia, <a href="http://pealco.net" class="plink">Pedro Alcocer</a>, <a href="http://www.ivanfrank.com" class="plink">Ivan Aguirre</a>, and <a href="http://www.hilarymason.com" class="plink">Hilary Mason</a> for comments, suggestions, and support.	</p>
		<p>If you have any questions or comments, please contact "acompanioni" using Google's fine email service. </p>
	</div>
{% endblock %}
