<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="http://acompa.net/highfive/highfive.css">
	<script type="text/javascript" src="http://acompa.net/highfive/jquery.js"></script>
	<title>{% block title %}{% endblock %}</title>
</head>

	<body topmargin="0" leftmargin="0" bottommargin="0">
	{% block toparea %} {% endblock %}
	{% block body %} {% endblock %}
	
	
<div id="bottom" class="center">
	&copy; 2011, Alejandro Companioni
	<br>
	Design help from <a href="mailto:redtens@gmail.com" color="#D99282">Redy Companioni</a>.
	<br>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22113359-1']);
  _gaq.push(['_setDomainName', '.acompa.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>