<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="http://acompa.net/highfive/highfive.css">
	<title>{% block title %}{% endblock %}</title>
</head>

	<body topmargin="0" leftmargin="0" bottommargin="0">
	{% block toparea %} {% endblock %}
	{% block body %} {% endblock %}
	
	
<div id="bottom" class="center">
	&copy; 2010, Alejandro Companioni
	<br>
	Design help from <a href="mailto:redtens@gmail.com" color="#D99282">Redy Companioni</a>.
	<br>
</div>

</body>
</html>