{% extends 'base.html' %}

{% block title %}HighFive{% endblock %}

{% block body %}
<div id="hi5" class="hi5index">
	HighFive
</div>

<div id="neuton" class="intro">
	Too busy to scan through Hacker News, Reddit, or Google Reader for important links?
	HighFive uses your Twitter feed to find the five articles you need to read every day. 
	<br><br>
	Just log in with your Twitter account to get your high five.
	<br><br>
	<div id="login" class='center'>
		<a href="http://acompa.net/highfive/login/">
		<img src="http://acompa.net/static/highfive/twitter_light.png" alt="Log in to Twitter to get your high five." />
		</a>
	</div>
</div>

<div id="boxlinks">
	<a href="./about">About</a>
	<a href="./help">How It Works</a>
	<a href="./terms">Terms of Use</a>
</div>

{% endblock %}

{% include 'footer.html' %}
