{% extends 'base.html' %}

{% block title %}HighFive{% endblock %}

{% block body %}
<div id="hi5" class="hi5index">
	HighFive
</div>

<div id="neuton" class="intro">
	Too busy to scan through Hacker News, Reddit, or Google Reader for important links?
	HighFive uses your Twitter feed to find the five articles you need to read every day. Click "How It Works" to see an example.
	<br><br>
	Log in below with your Twitter account to get your high five.
	<br><br>
	<div id="tlogin" class='center'>
		<a href="http://acompa.net/highfive/login/">
		<img src="http://acompa.net/static/highfive/twitter_light.png" alt="Log in to Twitter to get your high five." />
		</a>
	</div>
</div>

<div id="boxlinks">
	<a href="http://acompa.net/highfive/about/">About</a>
	<a href="http://acompa.net/highfive/help/">How It Works</a>
	<a href="http://acompa.net/highfive/terms/">Terms of Use</a>
</div>

{% endblock %}
