{% for i in results %}
	<script type="text/javascript">
		function score(kind, hashcode) {
			$.getJSON("vote/", { bhash: hashcode, score: kind }, function(json) { });
		}

		function addClickHandlers() {
			$("#{{i.bhash}}").click(
				function() { 
					score("up", "{{i.bhash}}"); 				
					$("#{{i.bhash}}").hide(); 
					});
				// $("#downvote").click(function() { score("down") });
			
		}
		$(document).ready(addClickHandlers);
	</script>
	{% if i.score == 0 %}
	<span class="vote">
		<span id="{{i.bhash}}"><img src="http://acompa.net/static/highfive/vote.gif" alt="Vote if you like this article."></span>
	<!-- <span id="downvote">V</span> -->
	</span>
	{% endif %}
	<div class="title"> 
		<a href="{{ i.longurl }}" class="title" TARGET="_blank">{{ i.title }} </a>
		<br>
		<div class="address">
		from {{ i.url }}  via <a href="http://www.twitter.com/{{ i.source }}" class="source">{{ i.source }}</a>
		</div>
	</div>	
{% endfor %}

{% if moreLinks %}
<script type="text/javascript">
	$(function() {
		$("#nextlinks").click(
			function(evt) {
			$('#link-section').load('../l/{{ next }}');
			evt.preventDefault();
		})
	})
</script>
<a href="#" id="nextlinks">Another high five!</a>
{% endif %}