{% for i in results %}
	<script type="text/javascript">
		function score(kind, hashcode) {
			$.getJSON("vote/", { bhash: hashcode, score: kind }, function(json) { });
		}

		function addClickHandlers() {
			$("#{{i.bhash}}").click(
				function() { 
					score("up", "{{i.bhash}}"); 				
					$("#{{i.bhash}}").hide(); 
					});
				// $("#downvote").click(function() { score("down") });
		}
		$(document).ready(addClickHandlers);
	</script>
	<span class="vote">
		<span id="{{i.bhash}}"><img src="http://acompa.net/static/highfive/vote.gif" alt="Vote if you like this article."></span>
	<!-- <span id="downvote">V</span> -->
	</span>
	<div class="title"> 
		<a href="{{ i.url }}" class="title" TARGET="_blank">{{ i.title }} </a>
		<br>
		<div class="address">
		{{ i.url }}  &mdash;  from <a href="http://www.twitter.com/{{ i.source }}" class="source">{{ i.source }}</a>
		</div>
	</div>
{% endfor %}