<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="highfive.css">
	<title> HighFive </title>
</head>

<body topmargin="0" leftmargin="0">
	<div id="top">
		<div id="hi5">
			HighFive
		</div>
		<div id="manage">
			test | test | test
		</div>
		<br><br>
	</div>
	<div id="link-section">
		<div class="link"> 
			Link no. 1 (Title)
			<br>
			<div class="address">
				Link Address
			</div>
		</div>
		<div class="vote">
			<a href="http://www.google.com">A</a> 
			<a href="http://www.google.com">V</a>
		</div>
		<div class="link"> 
			Link no. 2
			<br>
			<div class="address">
				Link Address
			</div>
		</div>
		<div class="vote">
			<a href="http://www.google.com">A</a> 
			<a href="http://www.google.com">V</a>
		</div>
		<div class="link"> 
			Link no. 3
			<br>
			<div class="address">
				Link Address
			</div>
		</div>
		<div class="vote">
			<a href="http://www.google.com">A</a>        
			<a href="http://www.google.com">V</a>
		</div>
		<div class="link"> 
			Link no. 4
			<br>
			<div class="address">
				Link Address
			</div>
		</div>
		<div class="vote">
			<a href="http://www.google.com">A</a> 
			<a href="http://www.google.com">V</a>
		</div>
		<div class="link"> 
			Link no. 5
			<br>
			<div class="address">
				Link Address
			</div>
		</div>
		<div class="vote">
			<a href="http://www.google.com">A</a> 
			<a href="http://www.google.com">V</a>
		</div>
	</div>
</body>


</html>