{% extends 'base.html' %}
	
{% block title %}HighFive &mdash; {{user}}{% endblock %}

{% block toparea %}
  	<div id="top">
			<span id="hi5" class="hi5title">
				HighFive
				<span id="manage">
					
				</span>
			</span>
			<br><br>
		</div>
{% endblock %}

{% block body %}
	<div id="link-section">
		<div id="loading">
			<span class="title"> Setting up your high five... </span>
		</div>
	</div>
		<script type="text/javascript" src="http://acompa.net/static/highfive/uptop.js"></script>
{% endblock %}