body {
/*	background-color:#F2E6DF;*/ /*light*/
	background-color:#262020; /*dark 1*/
}

@font-face {
	font-family: 'Neuton';
	src: url('fonts/Neuton.eot');
	src: url('fonts/Neuton.eot?iefix') format('eot'),
		 url('fonts/Neuton.woff') format('woff'),
		 url('fonts/Neuton.ttf') format('truetype'),
		 url('fonts/Neuton.svg#webfontWWvSDmxB') format('svg');
	font-weight: normal;
	font style: normal;
}

@font-face {
    font-family: 'Chunk';
    src: url('fonts/ChunkFive.eot');
    src: url('fonts/ChunkFive.eot?iefix') format('eot'),
         url('fonts/ChunkFive.woff') format('woff'),
         url('fonts/ChunkFive.ttf') format('truetype'),
         url('fonts/ChunkFive.svg#webfontWWvSDmxB') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Neuton-Italic';
	src: url('fonts/NeutonItalioc.eot');
	src: url('fonts/NeutonItalic.eot?iefix') format('eot'),
		 url('fonts/NeutonItalic.woff') format('woff'),
		 url('fonts/NeutonItalic.ttf') format('truetype'),
		 url('fonts/NeutonItalic.svg#webfontWWvSDmxB') format('svg');
	font-weight: normal;
	font style: normal;
}

#hi5 {
	font-family: "Chunk", "Times New Roman", serif;
	font-size:48px;
	margin-top:24px;
	margin-left:30px;
	margin-bottom:30px;
	color: #D94625;
	width:20%
}

#manage {
	font-family: "Neuton", "Times New Roman", serif;
	font-size:18px;
	color:#D94625;
	margin-top:-66px;
	margin-right:30px;
	float: right;
	border: 1px solid green;
}

#top {
	width:100%;
	overflow-hidden;
	background:#F2E6DF; /* light */
/*	background:#262020;*/ /* dark */
	height:60px;
	padding-top:1px;
}

#link-section {
	font-family: "Neuton", "Times New Roman", serif;
	font-size:16px;
	margin-top:20px;
	margin-left:15%;
	margin-right:15%;
	width:70%;
	float: right;
	border: 1px solid red;
}

p {
	font-family:"Tahoma", "Geneva", sans-serif;
	margin-top:5px;
	margin-bottom:5px;
}

.center {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.link {
	font-family: "Neuton", "Times New Roman", serif;
	position: relative;
	margin-top:30px;
	margin-bottom:30px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	line-height: 20px;
/*	color: #262020;*/ /* dark */
	color: #F2E6DF; /* light */
	border: 1px solid blue;
}

.address {
	font-family: "Neuton-Italic", "Times New Roman", serif;
	font-size: 12px;
	color: #D99282;
}

.vote {
	font-family: "Neuton", "Times New Roman", serif;
	margin:0px;
	top: -64px;
	width: 100px;
	position: relative;
	float: right;
	margin-right: 150px;
	border: 1px solid black;
	text-align:center;
	letter-spacing: 5px;
}



/*.voteup {
	font-family:"Tahoma", "Geneva", sans-serif;
	position: relative;
	margin-left:50%;
	margin-right:auto;
}

.votedown {
	font-family:"Tahoma", "Geneva", sans-serif;
	margin-left:20px;
	margin-right:auto;
}*/